@model BtkAkademi.Models.Candidate

<div class="container mt-5">
    <h2 class="text-center text-info mb-4">Başvuru Detayı</h2>

    <div class="card shadow-sm p-4">
        <p><strong>ID:</strong> @Model.Id</p>
        <p><strong>Ad Soyad:</strong> @Model.FirstName @Model.LastName</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Yaş:</strong> @Model.Age</p>
        <p><strong>Kurs:</strong> @Model.Course</p>
        <p><strong>Başvuru Tarihi:</strong> @Model.ApplyAt.ToString("dd.MM.yyyy HH:mm")</p>
    </div>

    <div class="mt-4 text-center">
        <a asp-action="List" class="btn btn-secondary">Listeye Dön</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Düzenle</a>
    </div>
</div>
